*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
background: #94A684;
height: 80px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
position: sticky;
top: 0;
z-index: 999;
}

.navbar__container{
display: flex;
justify-content: space-between;
height: 80px;
z-index: 1;
width: 100%;
max-width: 1300px;
margin: 0 auto;
padding: 0 50px;
}

#navbar__logo{
background-color:#E4E4D0 ;
background-image: linear-gradient(to top, #FFEEF4 0%, #E4E4D0 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
display: flex;
align-items: center;
cursor: pointer;
text-decoration: none;
font-size: 2rem;
}

.fa-gem{
margin-right: 0.5rem;
}

.navbar__menu{
display: flex;
align-items: center;
list-style: none;
text-align: center;
}

.navbar__item{
height: 80px;
}

.navbar__links{
color: #FFEEF4;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
padding: 0 1rem;
height: 100%;
}

.navbar__btn{
display: flex;
justify-content: center;
align-items: center;
padding: 0 1rem;
width: 100%;
}

.button{
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
padding: 10px 20px;
height: 100%;
width: 100%;
border: none;
outline: none;
border-radius: 4px;
background: #9abb7d;
color: #FFEEF4;
}

.button:hover {
background:#94A684 ;
transition: all 0.3s ease;
}

.navbar__links:hover {
color: rgb(17, 17, 16);
transition: all 0.3 ease;
}

@media screen and (max-width:960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
display: grid;
       grid-template-columns: auto; 
       margin: 0;
       width: 100%;
       position: absolute;
       top: -1000px;
       opacity: 0;
       transition: all 0.5s ease;
       height: 50vh;
       z-index: -1;
       background-color: #9abb7d;
    }

.navbar__menu.active{
    background-color: #9abb7d;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
}

#navbar__logo{
padding-left: 25px;
}


.navbar__toggle .bar{
width: 25px;
height: 3px;
margin: 5px auto;
transition: all 0.3s ease-in-out;
}


.navbar__item{
width: 100%;
}


.navbar__links{
text-align: center;
padding: 2rem;
width: 100%;
display: table;
}


#mobile-menu{
position: absolute;
top: 20%;
right: 5%;
transform: translate(5%, 20%);

}

.navbar__btn{
padding-bottom:2rem ;
}


.button{
 display: flex; 
 justify-content: center;  
align-items: center;
width: 80%;
height: 80px;
margin: 0;

}

.navbar__toggle .bar{
display: block;
cursor: pointer;
}


#mobile-menu.is-active .bar:nth-child(2) {
opacity: 0;

}


#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg)
    
    }


    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
        
        }
}


/*hero section css*/
.main{
    background-color: #FFEEF4;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #FFEEF4;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}


.main__content h1 {
font-size: 4rem;
background-color: #9abb7d;
background-image: linear-gradient(to top, #60cc60 0%, #363b36 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color:transparent;
}


.main__content h2 {
    font-size: 4rem;
    background-color: #9abb7d;
    background-image: linear-gradient(to top, #2e362e  0%,#60cc60 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}

.main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    
}


.main__btn{
font-size: 1rem;
background-image: linear-gradient(to top,  #60cc60 0%, #9abb7d 100%);
padding: 14px 32px;
border: none;
border-radius: 4px;
color: #080808;
margin-top: 2rem;
cursor: pointer;
position: relative;
transition: all 0.35s ;
outline: none;
}


.main__btn a{
position: relative;
z-index: 2;
color: #FFEEF4;
text-decoration: none;
}


.main__btn:after {
position: absolute;
content: '';
top: 0;
left: 0;
width: 0;
height: 100%;
background: #080808;
transition: all 0.35s;
border-radius: 4px;
}


.main__btn:hover {
    color: #FFEEF4;
}


.main__btn:hover:after {
    width: 100%;
}


.main__img--container{
    text-align: center;
}


#main__img{
    height: 80%;
    width: 80%;
}

/* Mobile responsive*/
@media screen and (max-width: 768px) {
.main__container{
display: grid;
grid-template-columns: auto;
align-items: center;
justify-self: center;
width: 100%;
margin: 0 auto;
height: 90vh;
}

.main__content{
text-align: center;
margin-bottom: 4rem;
}


.main__content h1{
font-size: 2.5rem;
margin-top: 2rem;
}


.main__content h2 {
font-size: 3rem;
}


.main__content p {
margin-top: 1rem;
font-size: 1.5rem;
}
}


@media screen and (max-width: 480px) {
    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
        }
        
        
        .main__content h2 {
        font-size: 2rem;
        }
        
        
        .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
        }


 .main__btn{
padding: 12px 36px;
margin: 2.5rem 0;

        }
}


/*services section css*/
.services{
display: flex;
flex-direction: column;
align-items: center;
/* height: 80vh; */
}


.services h1{
background-color: #0d0e0c;
background-image: linear-gradient(to right,
 #60cc60 0%,
 #57b957 21%,
 #4ca34c 52%,
 #3f883f 78%,
 #397239 100%,
 );
 background-size: 100%;
 margin-bottom: 5rem;
 font-size: 2.5rem;
 -webkit-background-clip: text;
 -moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color:transparent;

}


.services__container{
display: flex;
justify-content: center;
flex-wrap: wrap;
}





.services h2{
position: absolute;
top: 350px;
left: 30px;
}





@media screen and (max-width: 960px){
    .services{
        height: 1600px;
    }

.services h1{
font-size: 2rem;
margin-top:12rem;
}

}


@media screen and (max-width: 480px){
.services{
    height: 1400px;
}


.services h1{
font-size: 1.2rem;

}



}

Body{

background: #FFEEF4;

}


.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card{
background:#819c6a ;
width: 270px;

margin: 10px;
border-radius: 15px;
}


.card-image{
background-color: #0d0e0c;
height: 190px;
margin-bottom: 15px;
background-size: cover;
border-radius: 15px 15px 0 0;
}

.pd-1{
background-image: url('https://i.ytimg.com/vi/lBRK4qO1xJI/maxresdefault.jpg');

}


.pd-2{
background-image: url('https://i.pinimg.com/originals/bb/27/18/bb2718e26094af875aecd5f0819bfbd6.jpg');

}


.pd-3{
background-image: url('https://is1-ssl.mzstatic.com/image/thumb/Podcasts116/v4/50/b1/79/50b1795a-e660-4409-3780-e7ee938b429a/mza_6761298068121120774.jpg/500x500bb.jpg');

}

.card h2{
padding: 10px;

}


.card p{
padding: 10px;

}

 
.card a{
background-color: #E4E4D0;
color: #080808;
padding: 15px 20px;
display: block;
text-align: center;
margin: 20px 50px;
text-decoration: none;
border-radius: 15px;
}
 


.card:hover {
background-color: #94A684;
color: #080808;
cursor: pointer;
transform: scale(1.03);
transition: all 1s ease;
}

    .container2{
        display: flex;
        justify-content: center;
    }



.card2{
background: #819c6a;
width: 270px;

margin: 10px;
border-radius: 15px;
}



.card2-image{
    background-color: #0d0e0c;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    }


    .pd-4{
        background-image: url('https://th.bing.com/th/id/OIP.LFLIPxo5pD0T_Zt4yIJ7CAHaHa?pid=ImgDet&rs=1');
        
        } 

 .pd-5{
   background-image: url('https://www.stjegypt.com/uploads/568029754438.jpg');
            
  }

  .pd-6{
    background-image: url('https://i.ytimg.com/vi/C0fI4v2x_lc/maxresdefault.jpg');
             
   }

   .card2 h2{
    padding: 10px;
    
    }
    
    
    .card2 p{
    padding: 10px;
    
    }
    
     
    .card2 a{
    background-color: #E4E4D0;
    color: #080808;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 15px;
    }
     
    
    
    .card2:hover {
    background-color: #94A684;
    color: #080808;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
    }
      
    

        .container3{
            display: flex;
            justify-content: center;
        }
    
    
    
    .card3{
    background: #819c6a;
    width: 270px;
    
    margin: 10px;
    border-radius: 15px;
    }
    
    
    
    .card3-image{
        background-color: #0d0e0c;
        height: 170px;
        margin-bottom: 15px;
        background-size: cover;
        border-radius: 15px 15px 0 0;
        }


        .pd-7{
            background-image: url('https://1.bp.blogspot.com/-MN3K-XDcXJ0/XeJQHyV5WrI/AAAAAAAAAXc/Al-qu6v8yz8s__Kl-MUKgaf0X7HQzUNxQCNcBGAsYHQ/s320/Screen-Shot-2019-11-19-at-1.44.34-PM-600x597.jpg');
            
            } 
    
     .pd-8{
       background-image: url('https://www.stjegypt.com/uploads/546732845045.jpg');
                
      }
    
      .pd-9{
        background-image: url('https://i.ytimg.com/vi/z38R2djpyR8/maxresdefault.jpg');
                 
       }
    
       .card3 h2{
        padding: 10px;
        
        }
        
        
        .card3 p{
        padding: 10px;
        
        }
        
         
        .card3 a{
        background-color: #E4E4D0;
        color: #080808;
        padding: 15px 20px;
        display: block;
        text-align: center;
        margin: 20px 50px;
        text-decoration: none;
        border-radius: 15px;
        }
         
        
        
        .card3:hover {
        background-color: #94A684;
        color: #080808;
        cursor: pointer;
        transform: scale(1.03);
        transition: all 1s ease;
        }



        .paragraph p {
padding:0px 100px;

font-size: 2rem;
/* margin-top:12rem; */
        }




            .conteudo{
                width: 450px;
            }

            .carrousel{
display: grid;
grid-auto-flow: column;
scroll-behavior: auto;
gap: 1.2rem;
overflow-y: auto;
overscroll-behavior-x: contain;
scroll-snap-type: x mandatory;
scrollbar-width: none;
            }

            .carrousel::-webkit-scrollbar{
         display: none;
            }


            .cad{
                scroll-snap-align: start;
                border-radius: 30px;
                min-height: 200px;
                min-width: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
            }


            